{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Hello Django for Nodepair!</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">
</head>
<body>
<main class="container">
    <div class="row text-center justify-content-center">
        <div class="col-12">
            <h1 class="display-4">Hello World!</h1>
        </div>
        <div class="col-12">
          <div class="col-6">  
              <p class="display-3 success">websocket Status</p>
          </div>
          <div class="col-6"> 
              <p class="display-3 danger" id="status"></p>
          </div>
        </div>
    </div>
</main>

<script src="{% static 'js/addon/reconnect_websocket.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
</body>
</html>